<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">
<head>
	<link rel="stylesheet" href="assets/css/style.css">
</head>

  {% include head.html %}

  
	  <body>
		<!-- Logo Section -->
		<header class="header">
		  <!-- <h1 class="logo">[Your Site Logo or Name]</h1> -->
		</header>
	
		<!-- Main Content -->
		<main class="content">
		  <!-- Left Section - Under Construction -->
		  <section class="construction-text">
			<h2>Under Construction</h2>
			<p>
			  We are currently working on this site to bring you relevant research
			  insights. Please check back soon for updates!
			</p>
		  </section>
	
		  <!-- Right Section - Infographic -->
		  <section class="infographic">
			<img
			  src="assets/img/a078fdcc30799d2bbcb7480d4bf9fb98-removebg.png"
			  alt="Infographic"
			/>
		  </section>
		</main>
	  </body>

	  {% include footer.html %}

	  <!-- Bootstrap core JavaScript -->
	  <script src="assets/js/jquery.min.js"></script>
	  <script src="assets/js/bootstrap.bundle.min.js"></script>

	  <!-- Plugin JavaScript -->
	  <script src="assets/js/jquery.easing.min.js"></script>

	  <!-- Contact form JavaScript -->
	  <script src="assets/js/jqBootstrapValidation.js"></script>
	  <script src="assets/js/contact_me.js"></script>

	  <!-- Custom scripts for this template -->
	  <script src="assets/js/agency.min.js"></script>

  </body>
</html>